.epa {
  @import "./reset/reset.scss";
  @import "./partial/font";
  @import "./mixins/index";
  @import "./components/form/form";
  @import "./components/form/input";
  @import "./components/form/button";
  @import "./partial/loader";
  @import "./mixins/_index.scss";

  *,
  body {
    font-family: "Titillium Web", "Helvetica", "Arial", "sans-serif";
    -webkit-tap-highlight-color: transparent;
    line-height: normal;
  }

  html {
    height: 100vh;
    font-size: 100%;
  }

  body,
  .root {
    height: 100%;
    background-color: #efeeee;
    color: #000;
  }
  .ops-container {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    overflow: hidden;
  }

  .h1 {
    font-size: 100% !important;
  }

  .user-mgt__container {
    @include flexbox;
    @include flex-direction(column);
    padding: 30px;
    height: 100%;
    overflow-y: auto;
  }

  .user-mgt__logo-wrapper {
    text-align: center;
    margin-bottom: 40px;
  }

  @import "./partial/dropdown";

  .MuiFormControl-root {
    &.material-form-control {
      width: 100%;
      // margin-bottom: 30px;
    }
    .MuiFormLabel-root.Mui-focused {
      color: #979797;
    }
    .material-label {
      font-size: 14px;
      color: rgba($color: #000000, $alpha: 0.4);
    }
    .MuiInputLabel-shrink {
      transform: translate(0, 1.5px) scale(1);
    }
    .MuiSelect-select.MuiSelect-select {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
      &.Mui-disabled {
        color: #545454;
      }
    }
    .MuiInput-underline:after {
      border-bottom: 1px solid #979797;
    }
    .MuiFormHelperText-root.Mui-error {
      margin-bottom: 8px;
    }
    .MuiInputBase-root {
      margin-bottom: 30px;
      &.Mui-error {
        margin-bottom: 0;
      }
    }
  }

  .MuiList-root {
    .MuiMenuItem-root {
      white-space: normal;
      &.MuiListItem-root:nth-child(even) {
        background-color: #d5d5d5;
      }
      &.Mui-selected {
        background-color: transparent;
      }
    }
  }

  .MuiInput-underline.Mui-focused:after {
    content: none;
  }
  .root {
    .ops__btn {
      width: 100%;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 600;
      opacity: 1;
      &.button-invert {
        @include linear-gradient("to bottom", (#404040, #060606));
        background-color: #060606;
        color: #e5e0b3;
      }
    }
    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  .ops__btn {
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    opacity: 1;
    &.button-invert {
      @include linear-gradient("to bottom", (#404040, #060606));
      background-color: #060606;
      color: #e5e0b3;
    }
    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .dissable-ripple {
    pointer-events: none;
  }

  .form-btn-wrapper {
    @include flexbox;
    @include align-items(center);
    .save-btn,
    .reset-btn {
      width: 50%;
      font-size: 14px;
      border-radius: 4px;
    }

    .reset-btn {
      margin-right: 7.5px;
    }

    .save-btn {
      @include linear-gradient("to bottom", (#404040, #060606));
      margin-left: 7.5px;
      background-color: #060606;
      color: #e5e0b3;
      opacity: 1;
    }
  }

  .material-ui-date {
    &.MuiFormControl-root {
      margin-bottom: 30px;
      & .MuiInputBase-root {
        margin-bottom: 0;
      }
    }
    .MuiInputBase-input {
      padding: 10px 0;
      font-weight: 600;
      font-size: 14px;
      &:not([disabled]) {
        color: #000;
      }
      &.Mui-disabled {
        color: #545454;
      }
    }
    .MuiInput-underline:after {
      border-bottom: 1px solid #979797;
    }
    .MuiFormHelperText-root.Mui-error {
      position: absolute;
      bottom: -21px;
      margin-bottom: 0;
    }
    .MuiFormLabel-root {
      font-size: 14px;
    }
  }

  .MuiRadio-colorSecondary.Mui-checked {
    color: #353535 !important;
  }

  .full-width {
    width: 100%;
  }

  .error-field {
    margin-bottom: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    background-color: #ff653f;
    border-radius: 4px;
    text-align: center;
  }

  .popover-content {
    padding: 15px;
    line-height: 22px;
    font-size: 16px;
  }
  .ops-popover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  @media only screen and (max-width: 320px) {
    .MuiFormControl-root {
      .material-label {
        font-size: 12px;
      }
    }
    .dropdown-body {
      .form-input__label {
        font-size: 12px;
      }
    }

    .material-ui-date {
      .MuiFormLabel-root {
        font-size: 12px;
      }
    }
  }

  .MuiCheckbox-root {
    color: #353535;
  }

  .MuiFormControl-root .MuiSelect-select.MuiSelect-select {
    min-width: 50px;
  }

  .count_label {
    color: white;
    background-color: #0097f4;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 12px;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .table_container_scroll {
    overflow-x: auto;
  }

  .thin_border {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
  }

  .container {
    @include flex-grow(1);
    padding: 15px;
    overflow-y: auto;
  }

  .title-container {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #edeeef;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #000;
  }

  .title {
    font-weight: 600;
  }

  .card {
    display: flex;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .margin-bottom-15px {
    margin-bottom: 15px;
  }

  .right-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  }

  .bottom_line {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #edeeef;
    padding-bottom: 25px;
  }

  .excel_link {
    font-weight: 500;
    color: #69e08a !important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
  }

  .pdf_link {
    font-weight: 500;
    color: #ff4e51 !important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
  }

  .list_card_container {
    padding: 0px 15px 0px 15px;
  }

  .list_card_seperator {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #edeeef;
    margin: 15px 0px 10px 0px;
  }

  .download_links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .download_link_container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
  }

  .load_more_container {
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
  }

  .load_more_txt,
  .reset_filter_txt {
    cursor: pointer;
    font-weight: 600;
    color: #303030;
    text-decoration: underline;
  }

  .password_txt_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .password_container {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }

  .file_name_txt {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .file_name_container {
    display: flex;
    flex: 7.5;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
  }

  .file_status_container {
    display: flex;
    flex: 2.5;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
  }

  .table_title_container {
    display: flex;
    padding: 10px;
    background-color: #2f2f2f;
    // justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .table_title {
    color: white;
    font-weight: 500;
  }

  .table_container {
    display: flex;
    border-radius: 4px;
    background-color: #edeeef;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    flex-direction: column;
    margin-top: 15px;
  }

  .table_header_col {
    // text-align: center;
    background-color: #ececec;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    color: black;
  }

  .table_row {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #edeeef;
    background-color: white;
    color: black;
  }

  .table_row_col {
    font-size: 13px;
    font-weight: 500;
    padding: 12px;
    // text-align: center;
  }

  .padding-5px {
    display: flex;
    flex: 1;
    padding: 0px 5px 0px 5px;
  }

  .file_name_txt_table {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .text_align_right {
    text-align: right;
  }

  .text_align_center {
    text-align: center;
  }

  .justify_center {
    justify-content: center;
  }

  .width_20 {
    width: 210px;
  }

  .width_30 {
    width: 300px;
  }

  .width_100 {
    width: 100%;
  }

  .refresh_icon_web {
    color: white;
    cursor: pointer;
  }

  .form_input_container {
    margin: 0 5px 0 5px;
    // padding-bottom: 15px;
  }

  .textfield_container_web {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
  }

  .button_container {
    margin-left: 10px;
    width: 150px;
    padding-bottom: 15px;
  }

  .action_container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: black;
  }

  .margin_horizontal_5 {
    margin: 0 5px 0 5px;
  }

  .cursor_pointer {
    cursor: pointer;
  }

  .font_size_14 {
    font-size: 14px;
  }

  .filter_container {
    // width: 96%;
    max-width: 500px;
    padding: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #cfcfcf;
    margin: 10px;
    border-radius: 3px;
  }

  .filter_opt_container {
    display: flex;
    align-items: center;
  }

  .search_input_container .form_control {
    padding-bottom: 15px;
  }

  .refresh_icon {
    transform: translateY(-50%);
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .filter_icon {
    transform: translateY(-50%);
    display: inline-block;
    position: absolute;
    right: 70px;
    top: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .uf_web_input .form-input {
    .form-input {
      height: 40px;
    }

    height: 40px;
  }

  .txn_submit_padding {
    margin: 20px 5px 0px 5px;
  }

  .sub_container1 {
    display: flex;
    flex-direction: row;
  }

  .vertical_padding {
    padding: 10px 0px 0px 0px;
  }

  .txt_label {
    color: gray;
    font-size: small;
  }

  .txt_value {
    font-size: small;
    margin-top: 5px;
    color: black;
  }

  .folio_container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }

  .status_container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
  }

  .password_txt_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .password_container {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }

  .textfield_container {
    margin-top: 15px;
  }

  padding: 15px;

  .form_control {
    height: 60px;
  }
}
