.form-item {
  position: relative;
}
.form-control {
  margin-bottom: 30px;
}
.form-item--with-helper {
  .form-control {
    margin-bottom: 13px;
  }
}

.form-item__helper {
  margin-top: 5px;
  font-size: 12px;
}

.has-error {
  .form-input {
    border-color: #f44336;
    &:hover {
      border-color: #f44336;
    }
  }
  .form-item__helper,
  .form-input__label {
    color: #f44336;
  }
}
